body {
  background-color: #B2EBF2;
  font-family: sans-serif;

}
.bold {
  font-weight: bold;

}
#header {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  font-family: fantasy;
  background-color: white;

}

img {
    border: 5px solid white;
    display: block;
    margin: 0 auto;
    border-radius: 40%;

  }

  li {
    font-size: 14pt
  }

ol li {
  text-align: center;
}
